/* Style sheet for top level index.html */
footer {
    text-align: center;
    left: 50%;
    height: 100%;
    margin-left: -60px;
}
#networksContainer {
    position: relative;
    height: auto;
}
img.profile {
    width: 100px;
    height: auto;
}
img.tile {
    width: 100px;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.item {
    order: 1;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    transform: scale(0.95,0.95);
    transition: transform 0.25s;
    transform-origin: 10% 50%;
}
.item:hover {
  transform: scale(1.0,1.0);
}
h1 {
    text-align: center;
    margin: 0;
}
span.title {
    text-align: center;
    font-size: 2.0em;
    padding-left: 0.5em;
    vertical-align: middle;
    display: inline-block;
    width: 50%;
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #222266;
}